 	
	<!-- Product Detail -->
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		
		<div class="container">
			<h1>Order Details</h1>
			<h5 style="text-align: right;"> Order Date: <%= orderDetails.orderdate.toLocaleString('en-US', { weekday: 'short', month: 'short', day: '2-digit', year: 'numeric' })  %></h5>
			<div class="bor10 m-t-50 p-t-43 p-b-40" style="border: 1px solid rgba(33, 32, 32, 0.342); margin-top: 10px;margin-bottom: 50px;">
				<!-- Tab01 -->
				<div class="tab01" >
				 
						 
							
				

							
							 
							
				 

					<div class="row" style="margin-left: 50px;">
						<div class="col-md-4">
						  <h3>Address:</h3>
						  <ul>
							<% orderDetails.address.forEach(function(addr) { %>
							  <li>State: <%= addr.state %></li>
							  <li>Location: <%= addr.location %></li>
							  <li>Landmark: <%= addr.landmark %></li>
							  <li>City: <%= addr.city %></li>
							  <li>Pincode: <%= addr.pincode %></li>
							  <li>Country: <%= addr.country %></li>
							  <li>Mobile: <%= addr.mobile %></li>
							  <br>
							<% }); %>
						  </ul>
						</div>
					  
						<div class="col-md-4" >
						  <h3>Payment Method</h3>
						  <ul>
							<% if(orderDetails.payment_method !== "Razorpay"){ %>
								<li> Pay on Delivery ( Cash/Card ). Cash On Delivery(COD) Available. Card/Net banking acceptnace subject to device availability </li>
								<%} else { %>
									<li> Pay on Razorpay ( Bank/Card ). Card/Net banking acceptnace subject to device availability </li>
								<%}%>
							<li></li>
						  </ul>
						</div>
					  
						<div class="col-md-4">
						  <h3>Order Summery </h3>
						  <ul>
							<% orderDetails.address.forEach(function(addr) { %>
							  <li>State: <%= addr.state %></li>
							  <li>Location: <%= addr.location %></li>
							  <li>Landmark: <%= addr.landmark %></li>
							  <li>City: <%= addr.city %></li>
							  <li>Pincode: <%= addr.pincode %></li>
							  <li>Country: <%= addr.country %></li>
							  <li>Mobile: <%= addr.mobile %></li>
							  <br>
							<% }); %>
						  </ul>
						</div>
					  </div>
					  
					  
			 

			 
				</div>
			</div>

			<div class="row">
				
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							 
					 
							<h6>Order ID: <%= orderDetails.orderid %></h6>
							<div class="slick3 gallery-lb">

								<% for (let i=0; i < Product.image.length; i++) { %>
									 


											<!-- <img src="/public/homeTemp/images/product-detail-01.jpg" alt="IMG-PRODUCT"> -->

											<div class="sq align-self-center "> <img class="img-fluid  my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="/public/product-images/<%= Product.image[0]%>"alt="IMG-PRODUCT" width="285" height="285" /> </div>
											 

										 
									 
								 
									<% } %>


							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h3 style="color: rgb(210, 97, 97);">Status: <span style="color: rgba(55, 43, 43, 0.833);font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 18px;"><%= orderDetails.status %> </span> </h3>
						
						<h4 class="mtext-105 cl2 js-name-detail p-b-14">
							<%=Product.product_name%>
						</h4>

						<span class="mtext-106 cl2" >
							₹ <%=Product.price%>.00
						</span>
                        <h5>Quantity: <%= orderDetails.quantity %></h5>
					 
						<h3 style="color: rgb(97, 131, 210); font-size: 20px;">Payment Method: <span style="color: rgba(55, 43, 43, 0.833);font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 18px;"> <%= orderDetails.payment_method %> </span> </h3>
							
							
				 

						 

						<!--  -->
						 
					 
						 
							
							<h3>Order Date: <%= orderDetails.orderdate.toLocaleString('en-US', { weekday: 'short', month: 'short', day: '2-digit', year: 'numeric' })  %></h3>

							
							 
							
				 


						 
						<div class="row">
							<div class="flex-w flex-sb">
								<a href="/orderHistory"  style="margin-left: auto; border: rgba(0, 0, 0, 0.587) 1px solid; border-radius: 50px;margin-right: 20px;">
									<div class="flex-c-m stext-101 cl2 size-115  p-lr-15 trans-04 pointer">
										Your orders
									</div>
								</a>
							</div>
							
							<% if (orderDetails.status !== "Delivered" ) { %>
							 

							<div class="flex-w flex-sb">
								<!-- Button to trigger the modal -->
								<a href="#" data-toggle="modal" data-target="#cancelProductModal" style="margin-left: auto; border: rgba(0, 0, 0, 0.587) 1px solid; border-radius: 50px;">
								  <div class="flex-c-m stext-101 cl2 size-115 p-lr-15 trans-04 pointer">
									Cancel Product
								  </div>
								</a>
							  </div>

							  <% } %>
						
					</div>
						

						 
						 
						  
						  
				 
					</div>
				</div>
			</div>

			
		</div>

		<div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">
			<span class="stext-107 cl6 p-lr-25">
				SKU: JAK-01
			</span>

			<span class="stext-107 cl6 p-lr-25">
				Categories:  <%=Product.Category%>
			</span>
		</div>
	</section>


	<!-- Related Products -->
