<%- include('../layout/header.ejs') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/bootstrap-icons.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>

  body {
    background-color: rgba(243, 240, 250, 0.74);
    background-size: cover;
    background-position: center;

  }

  .product-image-container {
    position: relative;
    display: inline-block;
    height: max-content;
    margin-top: 5px;
  }

  .product-info {
    color: rgb(66, 66, 149);
  }

  .product-price {
    color: rgb(2, 143, 7);
  }

  .btn-add-to-cart,
  .btn-add-to-wishlist {
    margin: 10px 2px;
  }

</style>

</head>

<body>
  <div class="container" style="margin-top: 7rem;">
    <div class="shadow p-5 mb-5 bg-white rounded row">
      <div class="col-md-6">
        <!-- <div class="col-md-10"> -->
        <div class="card">
          <div class="d-flex justify-content-center">
            <div class="col-md-6">
              <div class="images p-3">
                <div class="text-center mb-4">
                  <img id="main-image" src="/public/adminimage/<%=product.image[0] %>" width="300" height="300" data-zoom-image="/public/adminimage/<%=product.image[0]%>" class="product-image" />
                </div>
                <div class="thumbnail text-center" id="thumbnail">



                  <% product.image.forEach(function(image) { %>
                  <img onclick="change_image(this)" src="/public/adminimage/<%=image%>" width="70" height="80" class="zoomGallery" style="border: 0.5px solid rgba(128, 128, 128, 0.386);">
                  <% }) %>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="product-info">
          <%= product.modelName %>
        </h2>
        <h4><%=product.brand%></h4>
        <div style="display: flex; align-items: center;">
          <div >
            
            <label style="color: green; font-weight: 600; font-family: sans-serif;" for="additional-info">Product Offer:</label>
            <span id="additional-info" style="color: green; font-weight: 400; font-family: sans-serif; font-size: large;"><%= product.discount %>%</span>
            <p style="text-decoration: line-through;" class="product-price">₹<%=product.price %></p>
            
          </div>
          <div style="margin-left:-60px;margin-top: 33px;">
            <p class="product-price">₹<%=  offerPrice%></p>
              </div>
        </div>
        
        <div>
          <form id="productForm" action="">
            <input type="hidden" id="selectedColor" name="selectedColor" value="">
            <h4>COLOR:</h4>
            <% for (let i = 0; i < color.length; i++) { %>
            <a href="#" style="text-decoration: none;background-color:white;" class="btn btn-outline-dark color-btn" data-color="<%= color[i] %>"><%= color[i] %></a>
            <% } %>

            <div id="color-error-msg" style="display: none; color: red;">Please select a color.</div>

            <div>
              <h4>SIZE:</h4>
              <input type="radio" name="size" value="<%=size[0]%>" checked>
              <label for=""><%=size[0]%></label>
              <% for(let j=1;j<size.length;j++){ %>
              <input type="radio" name="size" value="<%=size[j]%>">
              <label for=""><%=size[j]%></label>
              <% } %>
             
            </div>

            <a class="nav-link" href="#">
              <i class="bi bi-heart heart-icon" style="color:grey;font-size: 1.5em;"></i>
            </a>
            <%if(product.quantity!=0){%>
            <button class="btn btn-warning btn-add-to-cart mx-1" data-action="addtocart">Add to Cart</button>
            <button class="btn btn-primary" data-action="buy">Buy Now</button>
            <%}else{%>
            <P style="color: red;">Out of stock</P>

            <%}%>
            <div>
              <p><%= product.description %></p>
        </div>
        </form>



      </div>
    </div>
  </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/your-font-awesome-kit.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>
  <script>
    function change_image(image) {
      var container = document.getElementById("main-image");
      container.src = image.src;

      // Reinitialize elevateZoom on the main image
      $('.product-image').elevateZoom({
        zoomWindowPosition: 1,
        zoomWindowWidth: 300,
        zoomWindowHeight: 300,
        gallery: 'thumbnail',
        cursor: 'crosshair',
        galleryActiveClass: 'active',
        responsive: true,
        zoomWindowFadeIn: 500,
        zoomWindowFadeOut: 500,
        lensFadeIn: 500,
        lensFadeOut: 500,
        zoomWindowContainerClass: 'zoom-display'
      });
    }

    $(document).ready(function() {
      $('.product-image').elevateZoom({
        zoomWindowPosition: 1,
        zoomWindowWidth: 300,
        zoomWindowHeight: 300,
        gallery: 'thumbnail',
        cursor: 'crosshair',
        galleryActiveClass: 'active',
        responsive: true,
        zoomWindowFadeIn: 500,
        zoomWindowFadeOut: 500,
        lensFadeIn: 500,
        lensFadeOut: 500,
        zoomWindowContainerClass: 'zoom-display'
      });
    });
  </script>
  
  <script>
    $(document).ready(function() {
      // Handle button click event
      $('.btn-add-to-cart').on('click', function(e) {
        e.preventDefault();

        var action = $(this).data('action'); // Get the data-action attribute value
        var selectedColor = $('#selectedColor').val(); // Get the selected color from the hidden input field
        var selectedSize = $('input[name="size"]:checked').val(); // Get the value of the selected size radio button
        if (!selectedColor) {
          $('#color-error-msg').show(); // Display the error message if no color is selected
          return; // Stop further execution if color is not selected
        } else {
          $('#color-error-msg').hide(); // Hide the error message if color is selected
        }
        // Send the data via AJAX
        $.ajax({
          url: '/addtocart',
          method: 'POST',
          data: {
            id: '<%= product._id %>',
            type: 'addtocart',
            color: selectedColor,
            size: selectedSize
          },

          success: function(response) {
            // Handle the success response
            Swal.fire({
        title: "Item Added Successfully to Cart",
        icon: "success",
        showConfirmButton: false,
        timer: 1500 // Automatically close after 1 second
         });
            console.log('Data sent successfully!');
          },
          error: function(error) {
            // Handle the error response
            console.log('Error:', error);
          }
        });
      });

      // Handle color button click event

      $('.color-btn').on('click', function(e) {
        e.preventDefault();
        var color = $(this).data('color');
        $('#selectedColor').val(color); // Set the selected color in the hidden input field
        $(this).toggleClass('active');
      });
    });
  </script>

  <script>
    $(document).ready(function() {
      // Handle button click event
      $('.btn-primary').on('click', function(e) {
        e.preventDefault();

        // var action = $(this).data('action'); // Get the data-action attribute value
        var selectedColor = $('#selectedColor').val(); // Get the selected color from the hidden input field
        var selectedSize = $('input[name="size"]:checked').val(); // Get the value of the selected size radio button
        if (!selectedColor) {
          $('#color-error-msg').show(); // Display the error message if no color is selected
          return; // Stop further execution if color is not selected
        } else {
          $('#color-error-msg').hide(); // Hide the error message if color is selected
        }
        // Send the data via AJAX
        $.ajax({
          url: '/buyproduct',
          method: 'POST',
          data: {
            id: '<%= product._id %>',
            type: 'buy',
            color: selectedColor,
            size: selectedSize
          },

          success: function(response) {
            // Handle the success response
            console.log('Data sent successfully!');
          },
          error: function(error) {
            // Handle the error response
            console.log('Error:', error);
          }
        });
      });

      // Handle color button click event

      $('.color-btn').on('click', function(e) {
        e.preventDefault();
        var color = $(this).data('color');
        $('#selectedColor').val(color); // Set the selected color in the hidden input field
        $(this).toggleClass('active');
      });
    });
  </script>


</body>

</html>