<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description"
		content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/" />

	<!-- title -->
	<title>Single Product</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="/public/assets/img/favicon.png" />
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet" />
	<!-- fontawesome -->
	<link rel="stylesheet" href="/public/assets/css/all.min.css" />
	<!-- bootstrap -->
	<link rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap.min.css" />
	<!-- owl carousel -->
	<link rel="stylesheet" href="/public/assets/css/owl.carousel.css" />
	<!-- magnific popup -->
	<link rel="stylesheet" href="/public/assets/css/magnific-popup.css" />
	<!-- animate css -->
	<link rel="stylesheet" href="/public/assets/css/animate.css" />
	<!-- mean menu css -->
	<link rel="stylesheet" href="/public/assets/css/meanmenu.min.css" />
	<!-- main style -->
	<link rel="stylesheet" href="/public/assets/css/main.css" />
	<!-- responsive -->
	<link rel="stylesheet" href="/public/assets/css/responsive.css" />

	<style>
		.input-group {
			position: relative;
			display: inline-flex;
			align-items: center;
			width: 100%;
			max-width: 100px;
			border: 1px solid #ced4da;
			border-radius: 5px;
			overflow: hidden;
		}

		.input-group-btn button {
			background-color: #f8f9fa;
			color: #343a40;
			border: none;
			cursor: pointer;
			transition: background-color 0.3s ease-in-out;
			padding: 0.375rem 0.75rem;
		}

		.input-group-btn button:hover {
			background-color: #e9ecef;
		}

		.form-control {
			border: none;
			text-align: center;
			padding: 0.375rem 0.75rem;
			width: 100%;
			background-color: transparent;
		}

		.kg-symbol::after {
			content: "kg";
		}
	</style>
</head>

<body>
	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="/home">
								<h5><span class="orange-text">NutriFreshFruit</span></h5>
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="/home">Home</a></li>

								<li>
									<a href="/shop">Shop</a>
									<ul class="sub-menu">
										<li><a href="/shop">Shop</a></li>
										<li><a href="checkout.html">Check Out</a></li>
										<li><a href="/category">category</a></li>
										<li><a href="cart.html">Cart</a></li>
									</ul>
								</li>
								<li>
									<div class="profile-logo" style="margin-left: 25px">
										<!-- Added inline style -->
										<a href="/profile">
											<img src="/public/images/profile2.png" alt="User Profile Logo"
												class="img-fluid rounded-circle"
												style="width: 16px; height: 17px" /></a>
									</div>
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="cart.html"><i
												class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i
												class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords" />
							<button type="submit">
								Search <i class="fas fa-search"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- end search arewa -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>See more Details</p>
						<h1>Single Product</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- single product -->
	<div class="single-product mt-150 mb-150">
		<div class="container">
			<div class="row">
				<!-- product image sector -->
				<div class="col-md-6">
					<div class="card">
						<div class="d-flex justify-content-center">
							<div class="col-md-12">
								<div class="images p-3">
									<div class="text-center mb-4">
										<img id="main-image" src="/public/images/<%=singleProduct.productImage[0] %>"
											width="300" height="300"
											data-zoom-image="/public/images/<%=singleProduct.productImage[0]%>"
											class="product-image" />
									</div>
									<div class="thumbnail text-center" id="thumbnail">
										<div class="row justify-content-center">
											<% singleProduct.productImage.forEach(function(image) { %>
												<div class="col-4 col-md-2">
													<img onclick="change_image(this)" src="/public/images/<%=image%>"
														width="70" height="80" class="zoomGallery" style="
                              border: 0.5px solid rgba(128, 128, 128, 0.386);
                            " />
												</div>
												<% }) %>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- end product image sector -->

				<!-- product details sector -->
				<div class="col-md-6">
					<div class="single-product-content">
						<h3>
							<%= singleProduct.productName %>
						</h3>
						<p class="single-product-pricing">
							<span>Per Kg</span>&#8377; <%= singleProduct.price %>
						</p>
						<p>
							<%= singleProduct.productDescription %>
						</p>

						<div class="single-product-form">
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-default" onclick="decrementCount('<%= singleProduct._id %>')"
										type="button">
										-
									</button>
								</span>
								<input type="text" id="countInput" class="form-control" value="1" readonly />
								<span class="input-group-btn">
									<button class="btn btn-default" onclick="incrementCount('<%= singleProduct._id %>')"
										type="button">`
										+
									</button>
								</span>
							</div>
							<span class="kg-symbol"></span>
						</div>

						<div class="buttons d-flex flex-row mt-5 gap-3">
							<a href="/buynow?Id=<%= singleProduct._id %>">
								<button type="submit" class="btn btn-outline-success">
									Buy Now
								</button>
							</a>
							<button id="cartButton" onclick="addToCart(event,'<%= singleProduct._id %>')"
								class="cart-button btn btn-outline-primary">
								Add to Cart
							</button>
						</div>

						<p>
							<strong>category: </strong>
							<%= singleProduct.categoryName %>
						</p>
					</div>
				</div>
				<!-- end of product details sector -->
			</div>
		</div>
	</div>

	<!-- end single product -->

	<!-- more products -->
	<div class="more-products mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3><span class="orange-text">Related</span> Products</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Aliquid, fuga quas itaque eveniet beatae optio.
						</p>
					</div>
				</div>
				<% for (let i=1; i < 4; i++) { %>
					<div class="col-lg-4 col-md-6 text-center">
						<div class="single-product-item">
							<div class="product-image">
								<a href="/single-product?id=<%= allProducts[i]._id %>"><img
										src="/public/images/<%= allProducts[i].productImage %>" alt="hai" /></a>
							</div>
							<h3>
								<%= allProducts[i].productName %>
							</h3>
							<p class="product-price">
								<span>Per Kg</span>&#8377; <%= allProducts[i].price %>
							</p>
							<a href="#" id="cartButton" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to
								Cart</a>
						</div>
					</div>
					<% } %>
			</div>
		</div>
	</div>
	<!-- end more products -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="/public/assets/img/company-logos/1.png" alt="" />
						</div>
						<div class="single-logo-item">
							<img src="/public/assets/img/company-logos/2.png" alt="" />
						</div>
						<div class="single-logo-item">
							<img src="/public/assets/img/company-logos/3.png" alt="" />
						</div>
						<div class="single-logo-item">
							<img src="/public/assets/img/company-logos/4.png" alt="" />
						</div>
						<div class="single-logo-item">
							<img src="/public/assets/img/company-logos/5.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>
							Ut enim ad minim veniam perspiciatis unde omnis iste natus error
							sit voluptatem accusantium doloremque laudantium, totam rem
							aperiam, eaque ipsa quae.
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
							<li>support@fruitkha.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="services.html">Shop</a></li>
							<li><a href="news.html">News</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email" />
							<button type="submit">
								<i class="fas fa-paper-plane"></i>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->

	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>
						Copyrights &copy; 2019 -
						<a href="https://imransdesign.com/">Imran Hossain</a>, All Rights
						Reserved.<br />
						Distributed By - <a href="https://themewagon.com/">Themewagon</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li>
								<a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
							</li>
							<li>
								<a href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->

	<!-- to count kg -->
	<script>
		// Function to handle count increment
		function incrementCount(productId) {
			var countInput = document.getElementById("countInput");
			var count = parseInt(countInput.value) + 1;

			// Update the input value
			countInput.value = count;

		}

		// Function to handle count decrement
		function decrementCount(productId) {
			var countInput = document.getElementById("countInput");
			var count = parseInt(countInput.value) - 1;

			// Ensure count doesn't go below 1
			count = Math.max(count, 1);

			// Update the input value
			countInput.value = count;

			// Send AJAX request to update the count in the database
			
		}
	</script>

	<!-- zoom and 3 image -->
	<script>
		function change_image(image) {
			var container = document.getElementById("main-image");
			container.src = image.src;

			// Reinitialize elevateZoom on the main image
			$(".product-image").elevateZoom({
				zoomWindowPosition: 1,
				zoomWindowWidth: 300,
				zoomWindowHeight: 300,
				gallery: "thumbnail",
				cursor: "crosshair",
				galleryActiveClass: "active",
				responsive: true,
				zoomWindowFadeIn: 500,
				zoomWindowFadeOut: 500,
				lensFadeIn: 500,
				lensFadeOut: 500,
				zoomWindowContainerClass: "zoom-display",
			});
		}

		$(document).ready(function () {
			$(".product-image").elevateZoom({
				zoomWindowPosition: 1,
				zoomWindowWidth: 300,
				zoomWindowHeight: 300,
				gallery: "thumbnail",
				cursor: "crosshair",
				galleryActiveClass: "active",
				responsive: true,
				zoomWindowFadeIn: 500,
				zoomWindowFadeOut: 500,
				lensFadeIn: 500,
				lensFadeOut: 500,
				zoomWindowContainerClass: "zoom-display",
			});
		});
	</script>

	<!-- add to cart -->
	<script>
		$(function () {
			var selectedClass = "";
			$("p").click(function () {
				selectedClass = $(this).attr("data-rel");
				$("#portfolio").fadeTo(50, 0.1);
				$("#portfolio div")
					.not("." + selectedClass)
					.fadeOut();
				setTimeout(function () {
					$("." + selectedClass).fadeIn();
					$("#portfolio").fadeTo(50, 1);
				}, 500);
			});
		});

		function addToCart(event, productId) {
			event.preventDefault();
			var addButton = event.target;
			addButton.disabled = true;
const count1=document.getElementById('countInput').value
console.log(count1);
			// Create a request payload
			var data = { productId: productId ,count:count1};

			// Send a POST request using Fetch API
			fetch("/addtocart", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify(data),
			})
				.then((response) => response.json())
				.then((response) => {
					console.log("Product added to cart:", response.message);
					var cartCount = parseInt(
						document.getElementById("cartCount").innerText
					);
					document.getElementById("cartCount").innerText = cartCount + 1;
					addButton.disabled = false; // Enable the button after successful request
				})
				.catch((error) => {
					console.error("Error adding product to cart:", error);
					addButton.disabled = false; // Enable the button in case of an error
				});
		}
	</script>
	Make sure to check if any other issues exist outside the provided code
	snippet that could affect the rendering of the page.

	<!-- to increment the count -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- jquery -->
	<script src="/public/assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="/public/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="/public/assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="/public/assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="/public/assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="/public/assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/public/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="/public/assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="/public/assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="/public/assets/js/main.js"></script>
</body>

</html>