<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Confirmation</title>

	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="/public/confirmation/css/linearicons.css">
	<link rel="stylesheet" href="/public/confirmation/css/owl.carousel.css">
	<link rel="stylesheet" href="/public/confirmation/css/themify-icons.css">
	<link rel="stylesheet" href="/public/confirmation/css/font-awesome.min.css">
	<link rel="stylesheet" href="/public/confirmation/css/nice-select.css">
	<link rel="stylesheet" href="/public/confirmation/css/nouislider.min.css">
	<link rel="stylesheet" href="/public/confirmation/css/bootstrap.css">
	<link rel="stylesheet" href="/public/confirmation/css/main.css">



    
<!--===============================================================================================-->	
<link rel="icon" type="image/png" href="/public/icons/My project.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/homeTemp/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/homeTemp/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/homeTemp/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/homeTemp/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/homeTemp/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/public/homeTemp/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/homeTemp/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/homeTemp/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/homeTemp/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/homeTemp/css/util.css">
	<link rel="stylesheet" type="text/css" href="/public/homeTemp/css/main.css">
<!--===============================================================================================-->


<style>
	.hollow-button {
	  display: inline-block;
	  padding: 10px 20px;
	  border: 1px solid black;
	  border-radius: 5px;
	  background-color: transparent;
	  color: black;
	  text-decoration: none;
	  transition: background-color 0.3s;
	  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	  font-size: 20px;
	  margin-top: 60px;
	  margin-right: 25px;
	}
  
	.hollow-button:hover {
		background-color:#717fe0;
	color: rgb(248, 232, 232);
	border: 1px solid rgb(7, 7, 7);
	 
	}
  
	.align-right {
	  text-align: right;
	}
 
  .button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 60px;
  }

  .button:hover {
    background-color: #717fe0;
	color: white;
  }

  .align-right {
    text-align: right;
  }
  .order_details_table{
	background-color: #eef6f9;
  }
</style>






</head>

<body>

		<!-- Header -->
        <header class="header-v4">
            <!-- Header desktop -->
            <div class="container-menu-desktop">
            
    
                <div class="wrap-menu-desktop how-shadow1" style="top: 0px;">
                    <nav class="limiter-menu-desktop container">
                        
                        <!-- Logo desktop -->		
                        <a href="/home" class="logo ">
                            <img src="/public/images/20230620_111354_0000-removebg-preview(1).png" alt="IMG-LOGO">
                        </a>
    
                        <!-- Menu desktop -->
                        <div class="menu-desktop">
                            <ul class="main-menu">
                                <li>
                                    <a href="/home">Home</a>
                                   
                                </li>
    
                                <li>
                                    <a href="/allProducts">Shop</a>
                                </li>
    
                                <li class="label1" data-label1="hot">
                                    <a href="/allProducts">Features</a>
                                </li>
    
                                <li >
									<a href="/OrderHistory">My Orders</a>
								</li>
     
                                <li>
                                    <a href="/contact">Contact</a>
                                </li>
                            </ul>
                        </div>	
    
                        <!-- Icon header -->
                        <div class="wrap-icon-header flex-w flex-r-m">
                            <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                                <i class="zmdi zmdi-search"></i>
                            </div>
    
                            <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="0">
                                <i class="zmdi zmdi-shopping-cart"></i>
                            </div>
    
							<a href="/userProfile" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 " data-notify="0">
								<i class="zmdi zmdi-settings"></i>
							</a>
                        </div>
                    </nav>
                </div>	
            </div>
    
            <!-- Header Mobile -->
            <div class="wrap-header-mobile">
                <!-- Logo moblie -->		
                <div class="logo-mobile">
                    <a href="/home"><img src="images/icons/logo-01.png" alt="IMG-LOGO"></a>
                </div>
    
                <!-- Icon header -->
                <div class="wrap-icon-header flex-w flex-r-m m-r-15">
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
                        <i class="zmdi zmdi-search"></i>
                    </div>
    
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" data-notify="0">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </div>
    
                 
                    <a href="/userProfile" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 " data-notify="0">
                        <i class="zmdi zmdi-settings"></i>
                    </a>
                </div>
    
                <!-- Button show menu -->
                <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </div>
            </div>
    
    
            <!-- Menu Mobile -->
            <div class="menu-mobile">
                
    
                <ul class="main-menu-m">
                    <li>
                        <a href="/home">Home</a>
                  
                        <span class="arrow-main-menu-m">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                    </li>
    
                    <li>
                        <a href="/allProducts">Shop</a>
                    </li>
    
                    <li>
                        <a href="/allProducts" class="label1 rs1" data-label1="top">Features</a>
                    </li>
    
					<li >
						<a href="/OrderHistory">My Orders</a>
					</li>
                 
    
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
    
            <!-- Modal Search -->
            <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
                <div class="container-search-header">
                    <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
                        <img src="/public/homeTemp/images/icons/icon-close2.png" alt="CLOSE">
                    </button>
    
                    <form class="wrap-search-header flex-w p-l-15">
                        <button class="flex-c-m trans-04">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                        <input class="plh3" type="text" name="search" placeholder="Search...">
                    </form>
                </div>
            </div>
        </header>
    
      

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Confirmation</h1>
					<nav class="d-flex align-items-center">
						<a href="/home">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="/cart">Cart    <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i></a>
                        <a href="/confirmation">Confirmation</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Order Details Area =================-->
	<section class="order_details section_gap">
		<div class="container" style="margin-top: -4%;">
            <h3 class="title_confirmation" style="font-size: 30px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; background: linear-gradient(to right, rgb(153, 90, 226), rgb(255, 0, 0)); color: transparent; -webkit-background-clip: text; -moz-background-clip: text; background-clip: text; text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);">
                Thank you. Your order has been received.
            </h3>

            <hr style="border-color: black; border-width: 1px; opacity: 0.5; margin-bottom: 6%; margin-top: -4%;">

            
                        <div class="row order_d_inner" style="margin-top: -10px;">
				<div class="col-lg-4">
					<div class="details_item" >
						<h4 style="margin-bottom: 30px; font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px;color: rgba(23, 39, 68, 0.721);">Order Info</h4>
						<ul class="list">
							<li><a href="#"  style="color: rgba(207, 31, 31, 0.815); font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: smaller;" ><span  style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgba(101, 98, 98, 0.797);" >Order number</span> : <%= order._id %></a></li>
							<li><a href="#" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgba(32, 30, 30, 0.819);"><span  style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgba(101, 98, 98, 0.797);" >Date</span> : <%= order.date.toDateString() %></a></li>
							<li><a href="#" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  color: rgba(32, 30, 30, 0.819);"><span  style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgba(101, 98, 98, 0.797);" >Total</span> : <%= order.grandTotal %></a></li>
							<li><a href="#" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgba(32, 30, 30, 0.819);"><span  style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgba(101, 98, 98, 0.797);" >Payment method</span> :  <%= order.payment_method %></a></li>
						</ul> 
					</div>
				</div>
				<div class="col-lg-4">
					<div class="details_item">
						<h4 style="margin-bottom: 30px; font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px;color: rgba(23, 39, 68, 0.721);">Billing Address</h4>
						<ul class="list">
							<% order.address.forEach(function(address) { %>
							<li><a href="#" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgba(32, 30, 30, 0.819);" 	><span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgba(101, 98, 98, 0.797);">Address  </span>     <%= address.location %></li>
							<li><a href="#" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgba(32, 30, 30, 0.819);"><span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgba(101, 98, 98, 0.797);">City  </span>     <%= address.city %></a></li>
							<li><a href="#" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgba(32, 30, 30, 0.819);"><span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgba(101, 98, 98, 0.797);">Country  </span>     <%= address.country %></a></li>
							<li><a href="#" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgba(32, 30, 30, 0.819);"><span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgba(101, 98, 98, 0.797);">Pincode  </span>     <%= address.pincode %></a></li>
							<li><a href="#" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgba(32, 30, 30, 0.819);"><span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgba(101, 98, 98, 0.797);">Landmark  </span>    <%= address.landmark %></a></li>
							<li><a href="#" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgba(32, 30, 30, 0.819);"><span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgba(101, 98, 98, 0.797);">Mobile  </span>      <%= address.mobile %></a></li>
							
							<% }) %>
							
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="details_item">
						<h4 style="margin-bottom: 30px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px;color: rgba(23, 39, 68, 0.721);">Shipping Address</h4>
						<ul class="list">
							<% order.address.forEach(function(address) { %>
								<li><a href="#"  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgba(32, 30, 30, 0.819);"><span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgba(101, 98, 98, 0.797);">Address  </span>     <%= address.location %></li>
								<li><a href="#"  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgba(32, 30, 30, 0.819);"><span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgba(101, 98, 98, 0.797);">City  </span>     <%= address.city %></a></li>
								<li><a href="#"  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgba(32, 30, 30, 0.819);"><span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgba(101, 98, 98, 0.797);">Country  </span>     <%= address.country %></a></li>
								<li><a href="#"  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgba(32, 30, 30, 0.819);"><span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgba(101, 98, 98, 0.797);">Pincode  </span>     <%= address.pincode %></a></li>
								<li><a href="#"  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgba(32, 30, 30, 0.819);"><span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgba(101, 98, 98, 0.797);">Landmark  </span>    <%= address.landmark %></a></li>
								<li><a href="#"  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgba(32, 30, 30, 0.819);"><span style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgba(101, 98, 98, 0.797);">Mobile  </span>      <%= address.mobile %></a></li>
								
								<% }) %>
						</ul>
					</div>
				</div>
			</div>
			<div class="order_details_table" style="border: rgba(0, 0, 0, 0.134) 1px solid">
				<h2 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Order Details</h2>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr >
								<th scope="col" style="margin-bottom: 30px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 20px;color: rgba(19, 56, 125, 0.584);">Product Name</th>
								<th scope="col" style="margin-bottom: 30px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 20px;color: rgba(19, 56, 125, 0.584);">Size</th>
								<th scope="col" style="margin-bottom: 30px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 20px;color: rgba(19, 56, 125, 0.584);">Quantity</th>
								<th scope="col" style="margin-bottom: 30px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 20px;color: rgba(19, 56, 125, 0.584);">Total</th>
							</tr>
						</thead>
						<tbody>
							<% order.product.forEach(function(product) { %>
							<tr>
								<td>
									<p><%= product.productid.product_name %></p>
								</td>
								<td>
									<h6><%= product.size %></h6>
								</td>
								<td>
									<h6>x <%= product.quantity %></h6>
								</td>
								<td>
								 
									<h5 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 16px;color: #1613258e;font-weight: 600;">  ₹ <%= order.grandTotal %>.00</h5>
 
								</td>
							</tr>
							<% }) %>

				 
						 
							<tr>
								<td>
									<h4 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Subtotal</h4>
								</td>
								<td>
									<h5></h5>
								</td>
						 
								<td>
									<% order.product.forEach(function(product) { %>
									<p> ₹ <%= product.total %>.00 </p>
									<% }) %>

								</td>
							 

							</tr>
							<tr>
								<td>
									<h4 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Shipping</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p>Not included</p>
								</td>
							</tr>
							<tr>
								<td>
									<h4 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ">Discount</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p style="color: rgba(255, 0, 0, 0.589);">− ₹ <%= order.discoundAmount %>.00 </p>
								</td>
							</tr>

							<tr>
								<td>
									<h4 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Total</h4>
								</td>
								<td>
									<h5></h5>
								</td>

								 
								<td>
									
									<p style="color: rgb(24, 17, 17); font-size: 15px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> ₹ <%= order.grandTotal %>.00</p>
									
								</td>
								 
							</tr>
						</tbody>
					</table>
					
				</div>
				
			</div>
		
			  
			  <div class="align-right">
				<a href="/OrderHistory" class="hollow-button">Your Orders</a>
			   
				<a href="/allProducts" class="button">Shop More</a>
			  </div>
			  
		</div>
		 
	</section>
	
	<!--================End Order Details Area =================-->
	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="/allProducts" class="stext-107 cl7 hov-cl1 trans-04">
								Nike Shoes
							</a>
						</li>

						<li class="p-b-10">
							<a href="/allProducts" class="stext-107 cl7 hov-cl1 trans-04">
								Adidas
							</a>
						</li>

						<li class="p-b-10">
							<a href="/allProducts" class="stext-107 cl7 hov-cl1 trans-04">
								Casual Shoes
							</a>
						</li>

						<li class="p-b-10">
							<a href="/allProducts" class="stext-107 cl7 hov-cl1 trans-04">
								Sneakers
							</a>
						</li>
						<li class="p-b-10">
							<a href="/allProducts" class="stext-107 cl7 hov-cl1 trans-04">
								Football Boots
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="/userProfile" class="stext-107 cl7 hov-cl1 trans-04">
								 Address
							</a>
						</li>

						<li class="p-b-10">
							<a href="/OrderHistory" class="stext-107 cl7 hov-cl1 trans-04">
								Your Orders
							</a>
						</li>

						<li class="p-b-10">
							<a href="/OrderHistory" class="stext-107 cl7 hov-cl1 trans-04">
								Shipping
							</a>
						</li>

						<li class="p-b-10">
							<a href="/cart" class="stext-107 cl7 hov-cl1 trans-04">
								Cart
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>

					<p class="stext-107 cl7 size-201">
						Any questions? Let us know in store at maradu, Kochi , Kerala or call us on (+91) 99 4744 2414
					</p>

					<div class="p-t-27">
						<a href="https://github.com/naseebsidan7"  target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-github"></i>
						</a>

						<a href="https://www.instagram.com/sidan07_/" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						  </a>
						  

						<a href="https://in.pinterest.com/naseebsidan/"  target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>

						
						<a href="https://www.linkedin.com/in/naseeb-sidan-16b371267/"  target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-linkedin"></i>
						</a>
					</div>
				</div>

			 
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
					  <span style="font-size: 16px; color: rgba(109, 129, 241, 0.63);font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">&copy; Active Kicks</span>
	 
					</a>
				  </div>
				  

				
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->	
	<script src="/public/homeTemp/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/homeTemp/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/homeTemp/vendor/bootstrap/js/popper.js"></script>
	<script src="/public/homeTemp/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/homeTemp/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="/public/homeTemp/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/homeTemp/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
		<script src="/public/homeTemp/js/main.js"></script>
<!--===============================================================================================-->



	<script src="/public/confirmation/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="/public/confirmation/js/vendor/bootstrap.min.js"></script>
	<script src="/public/confirmation/js/jquery.ajaxchimp.min.js"></script>
	<script src="/public/confirmation/js/jquery.nice-select.min.js"></script>
	<script src="/public/confirmation/js/jquery.sticky.js"></script>
	<script src="/public/confirmation/js/nouislider.min.js"></script>
	<script src="/public/confirmation/js/jquery.magnific-popup.min.js"></script>
	<script src="/public/confirmation/js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="/public/confirmation/js/gmaps.min.js"></script>
	<script src="/public/confirmation/js/main.js"></script>

</body>

</html>