<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Panel</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/public/admin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/public/admin/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/public/admin/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/public/admin/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/public/admin/assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/admin/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/public/admin/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/public/admin/assets/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="/admin/home"><img src="/public/userProfile/Active Admin final.png" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="/admin/home"><img src="/public/admin/assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="/public/userProfile/IMG_20230613_211956.jpg" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">Naseeb Sidan</h5>
                  <span>Gold Member</span>
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-onepassword  text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-calendar-today text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/home">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">Products</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/listCategory">Category Management</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/addProduct">Add Products</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/allProduct">All Products</a></li>
              </ul>
            </div>
          </li>
          <!-- <li class="nav-item menu-items">
            <a class="nav-link" href="/public/admin/pages/forms/basic_elements.html">
              <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
              </span>
              <span class="menu-title">Users</span>
            </a>
          </li> -->
       
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/listUser">
              <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
              </span>
              <span class="menu-title">User List</span>
            </a>
          </li>
          
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/listOrder">
              <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
              </span>
              <span class="menu-title">Order List</span>
            </a>
          </li>

          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/couponPage">
              <span class="menu-icon">
                <i class="mdi mdi-format-list-checks"></i>
              </span>
              <span class="menu-title">Coupons</span>
            </a>
          </li>

          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/salesReport">
              <span class="menu-icon">
                <i class="mdi mdi-file-document"></i>
              </span>
              <span class="menu-title">Sales Report</span>
            </a>
          </li>

          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/Banner">
              <span class="menu-icon">
                <i class="mdi mdi-image-multiple"></i>
              </span>
              <span class="menu-title">Banner Management</span>
            </a>
          </li>
          
          <!-- <li class="nav-item menu-items">
            <a class="nav-link" href="/public/admin/pages/tables/basic-table.html">
              <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
              <span class="menu-title">Tables</span>
            </a>
          </li> -->


<!-- Chart list -->


          <!-- <li class="nav-item menu-items">
            <a class="nav-link" href="/public/admin/pages/charts/chartjs.html">
              <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
              </span>
              <span class="menu-title">Charts</span>
            </a>
          </li> -->


          
<!-- Icons -->


          <!-- <li class="nav-item menu-items">
            <a class="nav-link" href="/public/admin/pages/icons/mdi.html">
              <span class="menu-icon">
                <i class="mdi mdi-contacts"></i>
              </span>
              <span class="menu-title">Icons</span>
            </a>
          </li> -->


<!-- User Pages         -->


          <!-- <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <span class="menu-icon">
                <i class="mdi mdi-security"></i>
              </span>
              <span class="menu-title">User Pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/public/admin/pages/samples/blank-page.html"> Blank Page </a></li>
                <li class="nav-item"> <a class="nav-link" href="/public/admin/pages/samples/error-404.html"> 404 </a></li>
                <li class="nav-item"> <a class="nav-link" href="/public/admin/pages/samples/error-500.html"> 500 </a></li>
                <li class="nav-item"> <a class="nav-link" href="/public/admin/pages/samples/login.html"> Login </a></li>
                <li class="nav-item"> <a class="nav-link" href="/public/admin/pages/samples/register.html"> Register </a></li>
              </ul>
            </div>
          </li> -->
        
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/public/admin/assets/images/logo-mini.svg" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                  <input type="text" class="form-control" placeholder="Search products">
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item dropdown d-none d-lg-block">
                <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="#">+ Create New Project</a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
                  <h6 class="p-3 mb-0">Projects</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-file-outline text-primary"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">Software Development</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-web text-info"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">UI Development</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-layers text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">Software Testing</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">See all projects</p>
                </div>
              </li>
              <li class="nav-item nav-settings d-none d-lg-block">
                <a class="nav-link" href="#">
                  <i class="mdi mdi-view-grid"></i>
                </a>
              </li>
              <li class="nav-item dropdown border-left">
                <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                  <i class="mdi mdi-email"></i>
                  <span class="count bg-success"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                  <h6 class="p-3 mb-0">Messages</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <img src="/public/admin/assets/images/faces/face4.jpg" alt="image" class="rounded-circle profile-pic">
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">Mark send you a message</p>
                      <p class="text-muted mb-0"> 1 Minutes ago </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <img src="/public/admin/assets/images/faces/face2.jpg" alt="image" class="rounded-circle profile-pic">
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">Cregh send you a message</p>
                      <p class="text-muted mb-0"> 15 Minutes ago </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <img src="/public/admin/assets/images/faces/face3.jpg" alt="image" class="rounded-circle profile-pic">
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">Profile picture updated</p>
                      <p class="text-muted mb-0"> 18 Minutes ago </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">4 new messages</p>
                </div>
              </li>
              <li class="nav-item dropdown border-left">
                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                  <i class="mdi mdi-bell"></i>
                  <span class="count bg-danger"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                  <h6 class="p-3 mb-0">Notifications</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-calendar text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Event today</p>
                      <p class="text-muted ellipsis mb-0"> Just a reminder that you have an event today </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Settings</p>
                      <p class="text-muted ellipsis mb-0"> Update dashboard </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-link-variant text-warning"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Launch Admin</p>
                      <p class="text-muted ellipsis mb-0"> New admin wow! </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">See all notifications</p>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle" src="/public/userProfile/IMG_20230613_211956.jpg" alt="">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">Naseeb Sidan</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <h6 class="p-3 mb-0">Profile</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Settings</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item" href="/admin/logout">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content" >
                      <p class="preview-subject mb-1">Log out</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">Advanced settings</p>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->

        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-12 grid-margin stretch-card">


              </div>
            </div>
    
    <!-- <a href="../header.ejs"></a> -->

 
<div class="content">
    
  <div class="container">
    <div class="row align-items-stretch no-gutters contact-wrap">
      <div class="col-md-12">
        <div class="form h-100">
          <h3 class="mb-5">Edit Product </h3>
          <form class="mb-5" method="post" enctype="multipart/form-data" id="contactForm" name="contactForm" action="editProduct">
            <div class="row">
              <div class="col-md-6 form-group mb-3">
                <label for="" class="col-form-label">Product Name *</label>
                <input type="text" class="form-control" name="product_name" id="name" value="<%=Product.product_name%>" style="color: rgb(216, 160, 86); font-family: monospace; font-size: larger;" required>
              </div>
              <div class="col-md-6 form-group mb-3">
                <label for="" class="col-form-label">Enter Price *</label>
                <input type="number" class="form-control" name="price" id="email" value="<%=Product.price%>" style="color: rgb(216, 160, 86); font-family: monospace; font-size: larger;" required >
              </div>
            </div>
         
         
            <div class="col-md-6 form-group mb-3">
              <label for="image" class="col-form-label">Product image *</label>
              <input type="file" class="form-control-file" name="image" id="image" multiple >
              <small id="image-error" class="form-text text-danger"></small>
            </div>
            

       <div class="row" style="padding: 20px;margin-top: 30px;margin-bottom: 30px">
                <!-- single image start-->
                
                <% for (let i = 0; i < Product.image.length; i++) { %>
                  <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item">
                    <!-- Block2 -->
                    <div class="block2">
                      <div class="block2-pic hov-img0" style="margin-left: 0;margin-top: 20px;">
                        <div class="block2-txt flex-w flex-t p-t-14">
                          <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="/admin/deleteImage?id=<%= Product._id %>&index=<%= i %>" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                              <img class="icon-heart2 dis-block trans-04 ab-t-l" src="/public/homeTemp/images/icons/icon-close.png" alt="ICON">
                            </a>
                          </div>
                        </div>
                        <img src="/public/product-images/<%= Product.image[i] %>" alt="IMG-PRODUCT" height="200px" width="160px">
                      </div>
                    </div>
                  </div>
                <% } %>
                
              </div>

              <input type="text" value="<%= Product._id %>" name="id" hidden id="idForserver">
                <!-- single image end -->
       
         
           
            <div class="col-md-6 form-group mb-3" >
              <label for="" class="col-form-label">Brand Name *</label>
              <input type="text" class="form-control" name="brand" id="name" value="<%=Product.brand%>" required style="color: rgb(216, 160, 86); font-family: monospace; font-size: larger;">
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="" class="col-form-label">Size *</label>
              <input type="text" class="form-control" name="size" id="name" value="<%=Product.size%>" required style="color: rgb(216, 160, 86); font-family: monospace; font-size: larger;">
            </div>

            
      

             
            <div class="col-md-6 form-group mb-3">
                <label for="" class="col-form-label">Category Name *</label>
               
                <input type="text" class="form-control" name="Category" id="name" value="<%=Product.Category%>" style="color: rgb(216, 160, 86); font-family: monospace; font-size: larger;" required>
              </div>
            
         
              <div class="row">
                <div class="col-md-12 form-group mb-3">
                  <textarea class="form-control" name="description" id="message" cols="30" rows="4" required style="color: rgb(216, 160, 86); font-family: monospace; font-size: larger;">
                    <%=Product.description%>
                  </textarea>
                </div>
              </div>
        

        
            
            <div class="row">
              <div class="col-md-12 form-group mt-4 rounded-3">
                <input type="submit" value="Add Product" class="btn btn-primary custom-rounded py-2 px-4">
                <span class="submitting"></span>
              </div>
            </div>
            

          </form>

          <div id="form-message-warning mt-4"></div> 
          <div id="form-message-success">
        
          </div>

        </div>
      </div>
    </div>
   </div>

</div>

    
  

   
  </div> 
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->

  <!-- partial -->
 </div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->


<!-- 

<script>
function previewImage(event){
   const preview =document.getElementsByClassName('image-preview')
   for(let i=0; i< event.target.files.length;i++){
     const file = event.target.files[i];
     const reader = new FileReader();

     reader.onload = function (e){
      preview[i].src= e.target.result;
     };
     reader.readAsDataURL(file);
   }
}
</script> -->
<script src="/public/admin/assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/public/admin/assets/vendors/chart.js/Chart.min.js"></script>
<script src="/public/admin/assets/vendors/progressbar.js/progressbar.min.js"></script>
<script src="/public/admin/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
<script src="/public/admin/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="/public/admin/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/public/admin/assets/js/off-canvas.js"></script>
<script src="/public/admin/assets/js/hoverable-collapse.js"></script>
<script src="/public/admin/assets/js/misc.js"></script>
<script src="/public/admin/assets/js/settings.js"></script>
<script src="/public/admin/assets/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="/public/admin/assets/js/dashboard.js"></script>

<script src="/public/addProducts/js/jquery-3.3.1.min.js"></script>
<script src="/public/addProducts/js/popper.min.js"></script>
<script src="/public/addProducts/js/bootstrap.min.js"></script>
<script src="/public/addProducts/js/jquery.validate.min.js"></script>
<script src="/public/addProducts/js/main.js"></script>
<script src="/public/admin/assets/js/imageformproductAdd.js"></script>
<!-- End custom js for this page -->


<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<script>
  const imageInput = document.getElementById('image');
  const imageError = document.getElementById('image-error');
  
  imageInput.addEventListener('change', function() {
    const files = this.files;
    const allowedExtensions = ['.jpg', '.jpeg', '.png', '.webp'];
    const maxSize = 5 * 1024 * 1024; // 5MB
    const maxAllowedFiles = 5;

    if (!files || files.length === 0) {
      imageError.textContent = 'Please select an image file.';
      
    } else if (files.length > maxAllowedFiles) {
      imageError.textContent = `You can only upload up to ${maxAllowedFiles} images.`;
    } else {
      let validFiles = true;
      for (const file of files) {
        if (!allowedExtensions.includes(file.name.substr(file.name.lastIndexOf('.'))) || file.size > maxSize) {
          validFiles = false;
          break;
        }
      }

      if (validFiles) {
        imageError.textContent = '';
      } else {
        imageError.textContent = 'Invalid file type or size. Only JPG, JPEG, and PNG files are allowed, up to 5MB each.';
      }
    }
  });
</script>

</body>
</html>











